# Node modules
node_modules/

# Environments
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependences
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor config
.vscode/
.idea/

# Sistem
.DS_Store
Thumbs.db

# Build
dist/
build/
